@font-face {
  font-family: "iconfont"; /* Project id 3532628 */
  src: url('iconfont.woff2?t=1658291499605') format('woff2'),
       url('iconfont.woff?t=1658291499605') format('woff'),
       url('iconfont.ttf?t=1658291499605') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-dianzan:before {
  content: "\e656";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-jubao:before {
  content: "\e618";
}

.icon-zhuanfa:before {
  content: "\e628";
}

.icon-xinxi:before {
  content: "\e721";
}

.icon-caogao:before {
  content: "\e653";
}

.icon-xianxingyumaobi:before {
  content: "\e67e";
}

.icon-drxx18:before {
  content: "\e713";
}

.icon-dianzan1:before {
  content: "\ec7f";
}

.icon-fenlei-remen:before {
  content: "\e610";
}

.icon-jiangpai:before {
  content: "\e6bd";
}

