<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.fan.mapper.SearchMapper">

<!--    // 增加一条搜索记录-->
<!--    public int addSearch(Search search);-->

<!--    // 清空所有搜索记录-->
<!--    public int deleteAllSearch();-->

<!--    // 查询个人所有记录-->
<!--    public List<Search> getAllSearch(int userId);-->

    <insert id="addSearch" parameterType="Search">
        insert into blog.search values (#{id},#{content},#{userId})
    </insert>

    <delete id="deleteAllSearch" parameterType="int">
        delete from blog.search where blog.search.user_id = #{userId}
    </delete>

    <select id="getAllSearch" parameterType="int" resultType="string">
        select content from blog.search where user_id = #{userId}
        order by id desc limit 0,4
    </select>


</mapper>



